services:
  gpt-runner:
    build: .
    image: gpt1-offline
    container_name: gpt1-web-container
    
    # Map port 7860 on the container to 7860 on your server
    ports:
      - "7860:7860"

    # Software lock ensures model doesn't download anything
    environment:
      - HF_HUB_OFFLINE=1
      - TRANSFORMERS_OFFLINE=1

    # Run the Web App
    command: python -u web_app.py
